# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них  -  *
# Для удаления файла из git-репозитория без его физического удаления: git rm --cached mylogfile.log
# Для удаления папки (рекурсивно) можно сделать так: git rm -r --cached folderName
build/
lib/
logs/
target/
.settings/
nbproject/
# игнорировать doc/notes.txt, но не doc/server/arch.txt
doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
*.txt
*~
*testFile
*.classpath
*.project
*.html
*.db
# за исключением файла log4j.properties, он не будет проигнорирован
!/log4j.properties
