# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них  -  *
*build
*lib
*logs
*target
*.settings
*nbproject
# игнорировать doc/notes.txt, но не doc/server/arch.txt
doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
*.txt
*~
*testFile
*.classpath
*.project
*.html
*.db
# за исключением файла log4j.properties, он не будет проигнорирован
!log4j.properties
