#folder bin
build/
lib/
.settings/
nbproject/
# игнорировать doc/notes.txt, но не doc/server/arch.txt
doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
*.txt
*~
*testFile
*.classpath
*.project
*.html
*.db

/target/
